*{
    margin: 0;
}
.box img{
    width: 100%;
   
}
.responsive_boxes{
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 25%;
}



@media (max-width:992px){
    .box{
        width: 50%;
    }
}

@media (max-width:767px){
    .box{
        width: 100%;
    }
}
@media(max-width:500px){
    .box{
        margin-bottom: 20px;
    }
}

.mobileBtn{
    text-align: center;
    padding: 10px;
    font-size: 20px;
    background-color: black;
    color: aliceblue;
}

@media(min-width:767px){
    .mobileBtn{
        display: none;
    }
}


@media (min-width:800px) and (max-width:1200px){
    .myheading{
        color: red;
    }
}