*{
    margin: 0;
    padding: 0;
}
.section1{
    background-color:wheat;
    display: flex;
    align-items: center;
}
.box1{
    width: 50%;
    padding: 20px 100px;
}
.box2{
    width: 50%;
    padding: 20px 100px;

}
.img-size{
    width: 100%;
    height: 100%;
}

.section3{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 20px;
    justify-content: center;
}
.column{
    background-color: black;
    width: 24.1%;
    height: 200px;
}

.flexBox{
    background-color: black;
    height: 600px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.flexDiv{
    width: 20%;
    height: 200px;
    background-color: palevioletred;
}
.lists{
    padding:50px 50px;
    background-color: pink;
}
.ullist{
    display: flex;
    list-style: none;
    justify-content:space-around;
}