*{
    margin: 0;
    padding: 0;
    font-family: "Dancing Script", cursive;
}
.icon{
    font-size: 30px;
    color: cadetblue;
    background-color: black;
    padding: 15px 10px;
    border-radius: 50%;
    transition: 2s;
}
.icon:hover{
    background-color: cadetblue;
    color: black;
}

.fa-bluesky{
    color: pink;
}

h1 , h2 , h3 , h4 ,h5 , h6{
    font-family: "Bungee", sans-serif;
}

p{
    
}